@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using ASM_APPLICATION_DEV.ViewModel
@model CheckOut

<script src="https://kit.fontawesome.com/a775ea28da.js" crossorigin="anonymous"></script>



<div class="body-container">

    <div >
        <div>
            <h3>Customer Name: @Model.Name </h3>
            <h3>Customer Address: @Model.Address </h3>
            <h3>Customer Phone: @Model.Phone</h3>
            <h3>Total Price: @Model.TotalPrice</h3>

        </div>
        <div class="order-detail-container">
            <table class="table">
                <thead>
                    <tr >
                        <th scope="col">ID</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                     @foreach (var item in Model.orderDetails)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Book.NameBook</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>


    </div>
</div>