@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Order>

<script src="https://kit.fontawesome.com/a775ea28da.js" crossorigin="anonymous"></script>


<div class="body-container">

    <div class="display-container">
        <table class="table">
            <thead>
                <tr >
                    <th scope="col">Order ID</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Total</th>
                    <th scope="col">Date Order</th>
                    <th scope="col">Status Order</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.User.Email</td>
                        <td>@item.PriceOrder</td>
                        <td>@item.DateOrder</td>
                        <td>@item.StatusOrder</td>
                        <td>
                            <a asp-controller="OrderDetails" asp-action="DetailsForStoreOwner" asp-route-id=@item.Id class="btn btn-primary btn-sm">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>